# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/*/**/node_modules
/*/**/dist
/*/**/yarn.lock
/*/**/package-lock.json
/*/**/.expo/

dist-ssr
*.local

backend/config/pgDatabaseInit.js
backend/config/pgDatabaseInit.ts

.env
backend/.idea/workspace.xml

# nicht mehr Core-Dateien excludieren sonst bei eas Error
ssh/id_ed25519_github_uberspace
ssh/id_ed25519_github_uberspace.pub
