# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/*/**/node_modules
/*/**/dist
/*/**/yarn.lock
/*/**/package-lock.json

dist-ssr
*.local

HandyApp/GMapsOfKaindorf/config/server.ts
HandyApp/GMapsOfKaindorf/config/server.js

backend/config/pgDatabaseInit.js
backend/config/pgDatabaseInit.ts